.cart {
  padding: 1rem;
  margin-top: 8rem;

  .container {
    display: flex;
    flex-direction: column;

    .product {
      display: flex;
      align-items: center;

      padding: .3rem .5rem;

      border-top: 1px dotted;
      border-left: 1px dotted;
      border-right: 1px dotted;

      h3 {
        margin: .3rem;

        flex: 1;
        
        color: #007185;

        font-weight: 700;
        font-size: 1em;
        line-height: 20px;
      }

      img {
        max-width: 3rem;
        height: auto;
        margin: .875rem;
      }
    }
  }
}